<!-- Navigation -->
<nav  class="menu">
    <a class="btn" href="{{ '/' | relative_url }}">Home</a>
    <a class="btn" href="{{ '/blog' | relative_url }}">Blog</a>
    <!-- <a class="btn" href="{{ '/docs/' | relative_url }}">Docs</a> -->
    <!-- <a class="btn" href="{{ '/about/' | relative_url }}">About</a> -->
    <a class="btn" href="https://github.com/MadCrabCyder/TLSleuth" target="_blank">GitHub</a>
    <a class="btn" href="https://www.powershellgallery.com/packages/TLSleuth" target="_blank">PSGallery</a>

</nav>